#logo {
    width: 200px;
    height: 250px;
    background: url(img_navsprites.gif) 0 0;
  } 

  #nav{
      text-align: end;
      background-color: red;
      color: white;
     
      
  }

  #text{
    color: white;
  }

  #imagencontenido{
      width: 400px;
      height: 300px;
  }

  #sitefooter{
      background-color: red;
     
  }
  #card{
      text-align: center;
  }